node_modules/
/.build
Package.resolved
dist/
.DS_Store
*.log
android/build/
android/.gradle/
.maestro-artifacts/
maestro-results/
example-app/platforms/
example-app/plugins/
example-app/node_modules/
